body {
    font-family: 'Arial', sans-serif;
    margin: 10px;
    background-color: black;
}

main {
    margin-top: 10px;
}

main, sectio, h1{
	color: #bdc3c7;
}

.link1, a {
	color: #3498db;
	text-align: center;
}

form {
    margin-bottom: 10px;
    
    padding: 10px;
    border-radius: 4px;
}

label {
    display: block;
    margin-bottom: 2.5px;
    font-weight: bold;
}

input,
textarea {
    width: 25%;
    padding: 4px;
    margin-bottom: 5px;
    box-sizing: border-box;
    border: 1px solid #bdc3c7;
    border-radius: 2px;
}

button {
    padding: 5px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 2px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}



form button[type="submit"] {
    background-color: #e74c3c;
}

form button[type="submit"]:hover {
    background-color: #c0392b;
}
a {
	text-decoration: none;
	 color: black;
}