<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Cadastro de Dados</title>
	<link rel="stylesheet" th:href="@{/css/cadastro.css}" />
</head>

<body>


	<main>
		<section>
			<a class="link1" th:href="@{/contactList}"> Inicio </a>
			<h1>Lista de Contato</h1>
		</section>

		<section>
			<form th:action="${ContatosWeb.novo} ? @{/contactList} : @{/contactList/{ContatosWeb}(ContatosWeb=${ContatosWeb.id})}" 
				th:object="${ContatosWeb}" th:method="${ContatosWeb.novo} ? post : put">


				<div th:if="${!ContatosWeb.novo}">
					<label>Código:</label>
					<input th:field="*{id}" readonly="readonly"  />
				</div>

				<div>
					<label>Nome:</label>
					<input th:field="*{usuario}" />
				</div>

				<div>
					<label>Apelido:</label> <!-- Corrigindo o rótulo para "Apelido" -->
					<input th:field="*{apelido}" />
				</div>

				<div>
					<label>Telefone:</label>
					<input th:field="*{telefone}"  />
				</div>

				<div>
					<button>Salvar</button>
				</div>
			</form>


		</section>