<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Cadastro de Dados</title>
	<link rel="stylesheet" th:href="@{/css/cadastro.css}" />
</head>

<body>


	<main>
		<section>
			<a class="link1" th:href="@{/listaDeContatos}"> Inicio </a>
			<h1>Lista de Contatos</h1>
		</section>

		<section>
			
			<form th:action="@{/contato}" th:object="${contato}" th:method="${contato.novo} ? 'post' : 'put'">

				<label for="usuario">Usuário:</label>
				<input type="usuario" id="usuario" th:value="${contato.usuario}" name="usuario" required />

				<label for="apelido">Apelido:</label>
				<input type="apelido" id="apelido" th:value="${contato.apelido}" name="apelido" required />

				<label for="telefone">Telefone:</label>
				<input id="telefone" name="telefone" th:value="${contato.telefone}" rows="4" required></input>


				<button type="submit">Salvar</button>
				
			</form>
			
		</section>                                            