<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />

	<title>Cadastro de Dados </title>

	<link rel="stylesheet" th:href="@{/css/estilo.css}" />

</head>

<body>
	<div class="links">
		<a class="link1" th:href="@{/}">Inicio</a>
		<a class="link2" th:href="@{/contact}">Cadastro</a>
	</div>
	<header>

		<h1>Contatos</h1>

	</header>

	<main>
		<section>
			<h1>Lista contatos</h1>
		</section>

		<section>
			<table>
				<thead>
					<tr>

						<th>Usuário</th>
						<th>Apelido</th>
						<th>Telefone</th>
						<th>Ações</th>
					</tr>
				</thead>

				<tbody>
					<tr th:each="ContatosWeb: ${ContatosWebs}">

						<td th:text="${ContatosWeb.usuario}"></td>
						<td th:text="${ContatosWeb.apelido}"></td>
						<td th:text="${ContatosWeb.telefone}"></td>
						<td>

							<form th:action="@{/list/delete}" th:method="post">
								<input type="hidden" name="id" th:value="${ContatosWeb.id}" />
								<button type="submit">Remover</button>


							</form>
							
							 <a th:href="@{/contact/{ContatosWeb}(ContatosWeb=${ContatosWeb.id})}" >Editar</a>
						</td>
					</tr>

				</tbody>
			</table>
		</section>
	</main>
</body>

</html>